<h1>Playing Album</h1>

<iframe src="https://open.spotify.com/embed/album/<%= id %> " width="300" height="380" frameborder="0"
  allowtransparency="true" allow="encrypted-media"></iframe>
<br>
<a href="/spotify/album">Back</a>
<a href="/">Home</a>