<h1>Spotify API Tests</h1>

<ul>
  <li><a href="spotify/track">Track Widget</a></li>
  <li><a href="spotify/album">Album Widget</a></li>
  <li><a href="spotify/sdk">Web Playback SDK</a></li>
</ul>

<a href="/">Home</a>