<h1>Track Widget Playback</h1>

<p>Search for a track title:</p>
<form action="/spotify/track" method="POST">
  <label for="trackName"></label>
  <input type="text" name="trackName" id="trackName">
  <button>Submit</button>
</form>