<h1>Playing Song</h1>

<iframe src="https://open.spotify.com/embed/track/<%= id %> " width="300" height="380" frameborder="0"
  allowtransparency="true" allow="encrypted-media"></iframe>
<br>
<a href="/spotify/track">Back</a>
<a href="/">Home</a>