<h1>Playing Youtube Video</h1>

<iframe id="ytplayer" type="text/html" width="640" height="360" src="http://www.youtube.com/embed/<%= id %>?autoplay=1"
  frameborder="0"></iframe>

<br>
<a href="/youtube">Back</a>
<a href="/">Home</a>